.corporativo{
	border: 1px solid #fff;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 30px;
	background-color: midnightblue;
	color:#fff;
}

.checkCorp{
	display:none;
}

.loading-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 125px;
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
	backdrop-filter: blur(5px);
  }
  
  .spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  .textoPaginacion{
    color: #3498db;
    margin-left:80px;
    font-weight: 700;
  }

  .peque{
    color: #3498db;
  }

  .fa-arrow-down{
    cursor: pointer;
  }

  .fa-arrow-up{
    cursor: pointer;
  }

th {
    position: relative;
    white-space: nowrap;
  }
  
  th .resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: col-resize;
  }

  .table thead th, .table th{
    border-right: 1px solid #fff !important;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  